.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.pasted_box {
  margin: 20px;
  width: 75%;
}

.pasted_box fieldset {
  border: 1px solid #b0afaf;
  border-radius: 10px;
  margin: 8px;
}

.pasted_box legend {
  font-weight: 500;
}

.pasted_box button {
  margin: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 8px;
}

.header button {
  margin: 0;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.title::after {
  margin-top: 4px;
	display: block;
	width: 50px;
	height: 2px;
	content: "";
	background: #1677ff;
}

.developer {
  margin: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.design {
  font-family: 'Merienda', cursive;
  margin-right: 8px;
}

.my_name {
  font-family: 'Oregano', cursive;
  font-size: 24px;
}