.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.pasted_box {
  margin: 20px;
  width: 75%;
}

.pasted_box fieldset {
  border: 1px solid #b0afaf;
  border-radius: 10px;
  margin: 8px;
}

.pasted_box legend {
  font-weight: 500;
}

.developer {
  margin: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.design {
  font-family: 'Merienda', cursive;
  margin-right: 8px;
}

.my_name {
  font-family: 'Oregano', cursive;
  font-size: 24px;
}